* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0e0e0e;
}
.grid-container {
  max-width: 70dvw;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 155px);
  gap: 20px;
}
h4,
.font-medium {
  font-weight: 600;
}
img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.bg-primary {
  background-color: #fedcdb;
}
.text-primary {
  color: #fc7a7c;
}
.bg-off-white {
  background-color: #fff3f3;
}
.row-h-2 {
  grid-row: span 2;
}
.rounded {
  border-radius: 20px;
}
.text-center {
  text-align: center;
}
.flex-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}
.p-3 {
  padding: 0 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.rounded-full {
  border-radius: 50%;
}
.border-black {
  border: 4px solid #292020;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: end;
}
.text-green {
  color: #0fff37;
}
.col-w-2 {
  grid-column: span 2;
}
.max-h-130 {
  max-height: 150%;
  margin-bottom: 120px;
}
h2 {
  color: #fff3f3;
  background-color: #292020;
  padding: 10px;
  border-radius: 10px;
}
.images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-1 {
  padding: 20px;
}
.images > img {
  width: 40%;
  border-radius: 60px;
  height: 150px;
}
.images > img:nth-child(2) {
  margin-top: 50px;
}
.colors {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
.colors > div {
  padding: 15px 10px;
}
.colors > div:nth-child(1) {
  background-color: #535355;
}
.colors > div:nth-child(2) {
  background-color: #c4c4c6;
}
.colors > div:nth-child(3) {
  background-color: #f57d7d;
}
.colors > div:nth-child(4) {
  background-color: #ffdbda;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
