* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
}
img {
  object-fit: cover;
}
.grid-container {
  overflow-x: hidden;
  max-width: 100dvw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow-y: hidden;
}
.grid-container > div {
  height: 90px;
}
.row-1-div-1 {
  margin-top: 10px;
  background-image: url("img/engine.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  align-self: start;
}
.row-1-div-1 img {
  margin-top: 40px;
  width: 30%;
  height: 110px;
  margin-left: -40px;
}

.row-1-div-2 {
  align-self: end;
  justify-self: center;
}
.row-1-div-2 > img {
  width: 25%;
  margin-left: 170px;
}
.row-1-div-3 {
  align-self: center;
  justify-items: end;
  background-image: url("img/building.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.row-1-div-3 > img {
  margin-top: 20px;
  width: 100%;
  height: 140px;
  aspect-ratio: 1;
  margin-left: 290px;
}
.row-1-div-4 {
  align-self: center;
  justify-self: center;
}
.row-1-div-4 img {
  width: 20%;
  margin-left: 350px;
}
.row-1-div-5 {
  align-self: start;
  justify-items: center;
  grid-row: span 2;
  position: relative;
}
.row-1-div-5 h2 {
  text-align: center;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 6em;
}
.row-1-div-5 img {
  height: 120px;
  width: 30%;
  position: absolute;
  bottom: -140%;
  right: 0%;
}
.row-1-div-6 {
  margin-top: 100px;
  background-image: url("img/engine.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.row-1-div-6 img {
  margin-top: 50px;
  margin-left: 350px;
  width: 30%;
}
.row-1-div-7 {
  background-image: url("img/engine.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
.row-1-div-7 img {
  margin-top: 50px;
  margin-left: 300px;
  width: 100px;
}
.row-1-div-8 {
  position: relative;
  margin-top: 149px;
  align-self: center;
  justify-self: center;
  background-image: url("img/engine.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
.row-1-div-8 .img1 {
  margin-left: -100px;
  width: 20%;
}
.img2 {
  right: 3%;
  position: absolute;
  width: 30%;
  aspect-ratio: 1;
  top: -120%;
}
