* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

main {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.mic-toggle {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 30px;
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
.mic-active {
  animation: micPulse 1.5s infinite;
  background-color: #f44336;
}
.playback {
  max-width: 100%;
  box-shadow: 0 0 20px #00000070;
  border-radius: 40px;
}
@keyframes micPulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
